@import "../../main";

#faEye {
  color: $color1;
}
#showHidePassword {
  // width: 100%;
  z-index: 99;
  color: $color1;
  background: transparent;
  border: solid 1px $color1;
  float: right;
  text-align: right;
}
