@import "../../main";

.projectCard {
  padding: 2em 2em 2.6em 2em;
  display: block;
  text-align: left;
  border-radius: 5px;
  background-color: white;
  min-height: 50vh;
  min-width: 80vw;
  max-width: 80vw;
  margin: 0em 1em 2em 1em;
  border-bottom: solid 3px #bebebe;
  border-right: solid 3px #bebebe;
}
.projectCard.dark {
  background-color: $colorBGdarkAlt;
  border-bottom: solid 3px #5f5f5f;
  border-right: solid 3px #5f5f5f;
}
.num {
  color: $color1;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 0.3em;
}
.num.dark {
  color: $color1dark;
}
.projectTitle {
  color: $color1;
  letter-spacing: -0.06em;
  padding-bottom: 1em;
}
.projectTitle.dark {
  color: $color1dark;
}
.description {
  padding: 1em 0em 2em 0em;
}
.description.dark {
  color: white;
}
.sourceBtn {
  background-color: rgba(0, 0, 0, 0);
  border: $btnBorder;
  border-radius: 5px;
  padding: $btnPad;
  color: $color1;
  font-weight: 600;
  width: 100%;
}
.sourceBtn.dark {
  border: $btnBorderDark;
  color: $color1dark;
}
.sourceBtn:hover,
.sourceBtn:focus {
  background-color: #cccccc50;
}
.viewProjectBtn {
  background-color: $color1;
  border: $btnBorder;
  border-radius: 5px;
  padding: $btnPad;
  color: white;
  font-weight: 600;
  width: 100%;
}
.viewProjectBtn.dark {
  background-color: $color1dark;
  border: $btnBorderDark;
  color: white;
}
.disabled {
  background-color: #ccc;
  border: solid 2px #ccc;
  cursor: auto;
}
.disabled.dark {
  background-color: #5f5f5f;
  border: solid 2px #5f5f5f;
}

@media screen and (min-width: 768px) {
  .projectCard {
    background-color: white;
    min-height: 50vh;
    min-width: 28vw;
    max-width: 28vw;
  }
  .projectCard.dark {
    background-color: $colorBGdarkAlt;
  }
}
