@import "../../main";
@keyframes grow {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#landing {
  z-index: 0;
  position: relative;
  // calc(100vh - 72px);
  // margin-top: -0.23em;
}

#col1 {
  background-color: $colorBG;
  width: 100vw;
  min-height: 80vh;
  display: flex;
  justify-content: $cen;
  align-items: $cen;
  text-align: $cen;
}
#col1.dark {
  background-color: $colorBGdark;
}
#col2 {
  background-color: $colorBG;
  width: 100vw;
  display: flex;
  align-items: $cen;
  padding: 0em 2em;
}
#col2.dark {
  background-color: $colorBGdark;
}
#landingContent {
  animation: grow 1.4s;
  background-color: white;
  border: solid 5px $color1;
  border-radius: 10px;
  padding: 2em;
  position: relative;
  margin: 0vh 7vw 5vh 7vw;
  transition: border 0.4s ease-in-out;
}
#landingContent.dark {
  background-color: $colorBGdark;
  border: solid 5px $color1dark;
}
#learnMoreWrap {
  display: inline-flex;
  text-align: left;
}
#learnMore {
  color: black;
  font-weight: 600;
  padding-left: 0.2em;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $color1;
  }
}
#learnMore.dark {
  color: white;
  &:hover {
    text-decoration-color: $color1dark;
  }
}
#faArrowRight {
  color: $color1;
}
#faArrowRight.dark {
  color: $color1dark;
}
#landingContent > h2 {
  color: $color1;
  letter-spacing: -0.06em;
}
#landingContent > h2.dark {
  color: $color1dark;
}
#likeBtn {
  padding-top: 0.3em;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
#likeBtn.dark {
  color: white;
}
.heartRed {
  color: red;
}
.heartGray {
  color: gray;
}
#subHead {
  padding: 1em 0em;
}
#subHead.dark {
  color: white;
}

@media screen and (min-width: 768px) {
  #landing {
    display: flex;
    width: 100vw;
    height: 90vh;
  }
  #col1 {
    width: 50vw;
  }
  #col1Content {
    text-align: $cen;
    align-items: $cen;
    justify-content: $cen;
  }
  #col2 {
    background: white;
    width: 50vw;
    justify-content: $cen;
    padding-left: 0;
  }
  #col2.dark {
    background: $colorBGdarkAlt;
  }
  #landingContent {
    margin-right: 7vw;
    position: absolute;
    margin-left: -1.2em;
  }
}
@media screen and (min-width: 1080px) {
  #landing {
    height: 80vh;
  }
  #landingContent {
    margin-right: 7vw;
    position: absolute;
    margin-left: -4em;
  }
}
