@import "../../main";
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $colorBG inset !important;
}
#formWrap {
  display: flex;
  justify-content: $cen;
  align-items: $cen;
  padding: 2em 0em;
  overflow: hidden;
  width: 80vw;
  min-height: 70vh;
}
#formTitle {
  text-decoration: underline;
  text-decoration-color: $color1;
  letter-spacing: -0.05em;
}
#formTitle.dark {
  color: white;
  text-decoration-color: $color1dark;
}
#formWrap > form {
  position: relative;
  width: 100%;
}

#formSubmit {
  cursor: pointer;
  color: $color1;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 700;
  background-color: $transp;
  border: solid 2px $color1;
  border-radius: 5px;
  padding: $btnPad;
  outline: none;
  margin: 1em 0em;
}
#formSubmit.dark {
  color: $color1dark;
  border: solid 2px $color1dark;
}
#loginOrRegister {
  border: none;
  color: $color1;
  font-weight: 600;
  background: $transp;
}
#loginOrRegister.dark {
  color: $color1dark;
}
#formSubmit:hover,
#formSubmit:focus {
  background-color: $color1;
  color: white;
}
#formSubmit.dark:hover,
#formSubmit.dark:focus {
  background-color: $color1dark;
}

@media screen and (min-width: 768px) {
  #formWrap {
    display: flex;
    width: 30vw;
  }
}
