@import "../../main";
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $colorBG inset !important;
}
#formWrap {
  display: flex;
  justify-content: $cen;
  align-items: $cen;
  padding: 2em 0em;
  overflow: hidden;
  width: 80vw;
  min-height: 70vh;
}
#formTitle {
  text-decoration: underline;
  text-decoration-color: $color1;
  letter-spacing: -0.05em;
}
.inputWrap {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  background-color: $colorBG;
}
#formWrap > form {
  position: relative;
  width: 100%;
}
.inputLabel {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  border-bottom: solid 1px black;
  width: 100%;
}
.inputLabel::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-bottom: solid 3px $color1;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.labelContent {
  font-weight: 600;
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.formInput {
  font-size: 15px;
  font-weight: 500;
  left: 0;
  bottom: 0;
  background-color: $transp;
  width: 100%;
  padding-top: 2em;
  border: none;
  outline: none;
}
#faEye {
  color: $color1;
}
#showHidePassword {
  // width: 100%;
  z-index: 99;
  color: $color1;
  background: transparent;
  border: solid 1px $color1;
  float: right;
  text-align: right;
}
#formSubmit {
  cursor: pointer;
  color: $color1;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 700;
  background-color: $transp;
  border: solid 2px $color1;
  border-radius: 5px;
  padding: $btnPad;
  outline: none;
  margin: 1em 0em;
}
#loginOrRegister {
  border: none;
  color: $color1;
  font-weight: 600;
  background: $transp;
  // margin-left: 0.3em;
}

#formSubmit:hover,
#formSubmit:focus {
  background-color: $color1;
  color: white;
}
.formInput:focus + .inputLabel::after,
.formInput:valid + .inputLabel::after {
  transform: translateX(0%);
}
.formInput:focus + .inputLabel .labelContent,
.formInput:valid + .inputLabel .labelContent {
  transform: translateY(-100%);
  color: $color1;
}
@media screen and (min-width: 768px) {
  #formWrap {
    display: flex;
    width: 30vw;
  }
}
