@import "../../main";
.featureWrap {
  margin: 1em 0em;
  padding: 2em;
  border: solid 2px $color1;
  border-radius: 5px;
  &:hover {
    background-color: #cccccc50;
  }
}
.feature {
  color: $color1;
  letter-spacing: -0.05em;
}
.tool {
  letter-spacing: -0.05em;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1080px) {
}
