@import "../../main";
.featureWrap {
  margin: 1em 0em;
  padding: 2em 1em;
  border: solid 2px $color1;
  border-radius: 5px;
  &:hover {
    background-color: #cccccc50;
  }
}
.featureWrap.dark {
  border: solid 2px $color1dark;
}
.feature {
  font-size: 1.6em;
  color: $color1;
  letter-spacing: -0.05em;
}
.feature.dark {
  color: $color1dark;
}
.tool {
  letter-spacing: -0.05em;
}
.tool.dark {
  color: white;
}

@media screen and (min-width: 768px) {
  .feature {
    font-size: 2em;
  }
}
@media screen and (min-width: 1080px) {
}
