@import "../../main";
#header {
  z-index: 99;
  display: inline-flex;
  height: 72px;
  width: 100vw;
  border-bottom: solid 0.5px #bebebe;
  position: relative;
  box-shadow: #00000040 0.2em 0.23em 0.2em;
  background-color: white;
  // align-items: center;
}
#header.dark {
  background-color: $colorBGdark;
  border-bottom: solid 0.5px #5f5f5f;
}
// #darkModeSwitch {
//   line-height: 72px;
//   margin-bottom: -1.2em;
// }
#darkModeToggle {
  z-index: 101;
  cursor: pointer;
  line-height: 72px;
  position: absolute;
  right: 20vw;
  // padding-left: 0.6em;
  transition: color 0.4s ease-in-out;
  font-size: 1.3em;
}
#darkModeToggle.dark {
  color: white;
}
#faSun:hover {
  transition: color 0.4s ease-in-out;
  color: $color1dark;
}
#faMoon:hover {
  transition: color 0.4s ease-in-out;
  color: $color1;
}
#logOutBtn {
  color: $color1;
  border: none;
  background-color: $transp;
  font-weight: 600;
}
#mobileMenu {
  background-color: $transp;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  line-height: 68px;
  right: 7vw;
  font-size: 18px;
}
#mobileMenuContent {
  background-color: white;
  z-index: 5;
  width: 100vw;
  position: absolute;
  top: 72px;
  left: 0vw;
  transition: transform 0.4s ease-in-out;
  box-shadow: #00000020 0.2em 0.23em 0.2em;
}
#mobileMenuContent.dark {
  background-color: $colorBGdarkAlt;
}
.rotate {
  transform: rotate(180deg);
  transition: transform 0.6s ease-in-out;
}
.unrotate {
  transform: rotate(-180deg);
  transition: transform 0.6s ease-in-out;
}
.closed {
  transform: translateY(-100%);
}
.open {
  transform: translateY(0%);
}
#faBars.dark {
  color: white;
}
@media screen and (min-width: 384px) {
  #darkModeToggle {
    right: 15vw;
  }
}
@media screen and (min-width: 768px) {
  #mobileMenu {
    display: none;
  }
  #mobileMenuContent {
    display: none;
  }
  #navList {
    display: inline-flex;
    line-height: 68px;
    position: absolute;
    right: 7vw;
    top: 2px;
  }
  #darkModeToggle {
    position: relative;
    right: 0;
    line-height: 68px;
    border-bottom: solid 2px transparent;
    margin-left: 0.3em;
  }
}
@media only screen and (min-width: 1080px) {
}
