@import "../../main";
#header {
  z-index: 99;
  display: inline-flex;
  height: 72px;
  width: 100vw;
  background-color: white;
  border-bottom: solid 0.5px #bebebe;
  position: relative;
  box-shadow: #00000040 0.2em 0.23em 0.2em;
}
#logOutBtn {
  color: $color1;
  border: none;
  background-color: $transp;
  font-weight: 600;
}
#mobileMenu {
  background-color: $transp;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  line-height: 72px;
  right: 7vw;
  font-size: 18px;
}
#mobileMenuContent {
  background-color: white;
  z-index: 5;
  width: 100vw;
  position: absolute;
  top: 72px;
  left: 0vw;
  transition: transform 0.4s ease-in-out;
  box-shadow: #00000020 0.2em 0.23em 0.2em;
}
.rotate {
  transform: rotate(180deg);
  transition: transform 0.6s ease-in-out;
}
.unrotate {
  transform: rotate(-180deg);
  transition: transform 0.6s ease-in-out;
}
.closed {
  transform: translateY(-100%);
}
.open {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  #mobileMenu {
    display: none;
  }
  #mobileMenuContent {
    display: none;
  }
  #navList {
    display: inline-flex;
    line-height: 68px;
    position: absolute;
    right: 7vw;
    top: 2px;
  }
}
@media only screen and (min-width: 1080px) {
}
