@import "../../main";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $colorBG inset !important;
}
input.dark:-webkit-autofill,
input.dark:-webkit-autofill:hover,
input.dark:-webkit-autofill:focus,
input.dark:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $colorBGdark inset !important;
}
.inputWrap {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  background-color: $colorBG;
}
.inputLabel {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  border-bottom: solid 1px black;
  width: 100%;
}
.inputLabel.dark {
  color: white;
  border-bottom: solid 1px white;
}
.inputLabel::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-bottom: solid 3px $color1;
  transform: translateX(-101%);
  transition: transform 0.3s ease-in-out;
}
.inputLabel.dark::after {
  border-bottom: solid 3px $color1dark;
  transform: translateX(-101%);
}
.labelContent {
  font-weight: 600;
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.formInput {
  font-size: 15px;
  font-weight: 500;
  left: 0;
  bottom: 0;
  background-color: $transp;
  width: 100%;
  padding-top: 2em;
  border: none;
  outline: none;
}
.formInput.dark {
  background-color: $colorBGdark;
  color: white;
}
.formInput:focus + .inputLabel::after,
.formInput:valid + .inputLabel::after {
  transform: translateX(0%);
}
.formInput:focus + .inputLabel .labelContent,
.formInput:valid + .inputLabel .labelContent {
  transform: translateY(-100%);
  color: $color1;
}
.formInput.dark:focus + .inputLabel .labelContent,
.formInput.dark:valid + .inputLabel .labelContent {
  color: $color1dark;
}
