@import "../../main";
#footerWrap {
  height: 72px;
  border-top: solid 0.5px #bebebe;
}
#logoFooter {
  font-size: 1.6em;
  font-weight: 500;
  letter-spacing: -0.05em;
  position: absolute;
  right: 7vw;
  line-height: 72px;
  text-decoration: underline;
  text-decoration-color: $color1;
}
#footerText {
  font-style: italic;
  /* font-weight: 600; */
  line-height: 72px;
  position: absolute;
  left: 7vw;
}
