$cen: center;
$color1: slateblue;
$color1dark: rgb(99, 224, 41);
$colorBG: #eee;
$colorBGdark: rgb(34, 34, 34);
$colorBGdarkAlt: rgb(43, 43, 43);
$btnBorder: solid 2px $color1;
$btnBorderDark: solid 2px $color1dark;
$btnPad: 0.6em 1.2em;
$transp: rgba(0, 0, 0, 0);
