@import "../../main";
#message {
  box-shadow: #00000040 0.2em 0.23em 0.2em;
  z-index: 999;
  position: fixed;
  top: 3vh;
  left: 3vw;
  padding: 0.3em 0.6em;
  color: $color1;
  background-color: white;
  border: solid 2px $color1;
  border-radius: 5px;
}
